
*.exe
*.tlog
*.log
*.obj
*.idb
*.pdb
*.db
*.opendb
*.txt
*.lib
*.user
*.ilk
.vs/Project02/v15/.suo
*.ipch
*.db-shm
*.db-wal
*.lib
external/lib64/GedcomStaticLib.lib
*.lib
*.vcxproj
external/lib64/GedcomStaticLib.lib
gedcom_test/gedcom_test.vcxproj.filters
